.first{
    background-image: url(https://cdn.wallpaperhub.app/cloudcache/1/b/5/8/e/f/1b58ef6e3d36a42e01992accf5c52d6eea244353.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.first h1{
    /* position: absolute;
    top: 50%;
    right: 40%; */

    padding-top: 20rem; 
    padding-left: 30rem;
    /* 1 rem = 16px */
}